@tailwind base;
@tailwind components;
@tailwind utilities;

.grid {
    position: absolute;
    width: 560px;
    height: 300px;
}

.block {
    position: absolute;
    width: 100px;
    height: 20px;
    /* left: 50px;
    bottom: 50px; */
    background-color: teal;
}

.user {
    position: absolute;
    width: 100px;
    height: 20px;
    /* left: 50px;
    bottom: 50px; */
    background-color: palevioletred;
}

.ball {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: crimson;
}